@using GitHubRepoTrackerFE_Blazor.Interfaces
@using GitHubRepoTrackerFE_Blazor.Models
@page "/"
@inject IRepoService reposervice
@inject ILanguageService languageservice
@inject ITopicService topicservice


<PageTitle>Home</PageTitle>
<Header />

@if (repositories is not null)
{
    <div class="row form-group">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <select>
                @foreach (var language in languages)
                {
                    <option value="@language.languageName">@language.languageName</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <select>
                @foreach (var topic in topics)
                {
                    <option value="@topic.topicName">@topic.topicName</option>
                }
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>RepoName</th>
                <th>Description</th>
                <th>Language</th>
                <th>Topics</th>
                <th>Last updated</th>
                <th>Stars</th>
                <th>Forks</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var repo in repositories)
            {
                <tr>
                    <td>@repo.repositoryName</td>
                    <td>@repo.description</td>
                    <td>@repo.language.languageName</td>
                    
                    <td style="display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));">
                            @foreach (var topic in repo.repositoryTopics)
                            {
                            <div>@topic.topicName</div>
                            }
                    </td>
                    <td>@repo.updatedAt</td>
                    <td>@repo.forksCount</td>
                    <td>@repo.stargazersCount</td>
                </tr>
            }


        </tbody>
        

    </table>
}
    
else
{
        <p>Loading repositories...</p>
}

    @*<div class="pagination">
        @for (var i = 1; i <= totalPages; i++)
        {
            <button class="@(currentPage == i ? "active" : "")" @onclick="ChangePage(i)">@i</button>
        }
    </div>
    *@


@code
{
    private List<Repository> repositories { get; set; }
    private List<Language> languages { get; set; }
    private List<Topic> topics { get; set; }
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        repositories = await reposervice.GetAllRepos();
        languages = await languageservice.GetAllLanguages();
        topics = await topicservice.GetAllTopics();

   
    
    }

}


